h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #000;
    text-align: left;
    vertical-align: middle;
    background-color: #E6E6FA;
    background-size: 100px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.t-image {
    position: relative; /* Declared position allows for location changes */
    top: -50px; /* Moves the image 2px closer to the top of the page */
}