h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #000;
    text-align: left;
    vertical-align: middle;
    background-color: #E6E6FA;
    background-size: 100px;
}